/*------------------
       RESET
------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

/*------------------
       HEADER
------------------*/

header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    height: 44px;
    padding: 8px 8px;
}

header > div {
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 5px;
}

.fa-grip-vertical{
    margin-right: 5px;
}

/*------------------
       MAIN
------------------*/

main {
    height: calc(100vh - 124px);
}

main > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 0 0 35px;
}

main > div > div {
    position: relative;
}

main > div > div > div {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 3px;
}

/*------------------
       FOOTER
------------------*/

footer {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
}

footer > div {
    display: flex;
}

footer > div:first-child {
    min-width: 20%;
}

footer > div:last-child {
    min-width: 20%;
    display: flex;
    justify-content: end;
}

footer > div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px 7px;
}


footer span {
    display: block;
    font-size: 13px;
    margin-left: 3px;
}

footer i {
    font-size: 22px;
}

.circonflesso {
    line-height: 44px;
}

button {
    background-color: #4a4a4a;
    min-height: 80px;
    border: none;
    padding: 0 15px;
    color: red;
}